@charset "utf-8";

.off {
	display: none;
}

ul {
	margin: 2em;
}

ul ul {
	margin: 0 2em;
}

.tab {
	border: 1px solid #1d3bb0;
	border-right: none;
	float: left;
}

.tab li {
	width: 7em;
	float: left;
	border-right: 1px solid #1d3bb0;
	text-align: center;
	background: #8bc6f4;
	color: #fff;
	line-height: 3;
	position: relative;
}

.tab li ul {
	margin: 0;
	position: absolute;
	top: 3em;
	left: 0;
}
.tab li ul li {
	border: none;
}